body{ 
	background-color: yellow;
}

p:hover{
	color: blue;
	text-decoration: underline;
}

#blockId {
    border: 8px solid #00ff00;
    background-color: #ff0000;
}

#Myaddress:hover{
	border: 7px solid blue;
	background-color: lightblue;
}